.home {
	position: absolute;
	top: 55vh;
}

a.logo img{
	padding: none;
	background-color: black;
}

/*INDEX*/
h1 {
	font-variant: small-caps;
	color: white;
}

.light h1 {
	color: black;
}

.menu {
	position: fixed;
	top: -3rem;
	right: 3rem;
}

.menu img{
	width: 5rem;
}

.een, .twee, .drie, .vier, .vijf, .zes {
	filter: blur(7px);
}

/*DARKMODE*/
.darkmode{
	position: fixed;
	bottom: 3rem;
	right: 3rem;
}

div a {
	color: white;
	text-decoration: none;
	font-size: 2rem;
	margin-right: 3rem;
	padding: .3rem;
}

body.light {
	background-color: white;
}

.light h1, .light p {
	color: black;
}

.light div a:nth-child(2) {
	background-color: black;
	color: white;
}

div a:nth-child(1) {
	background-color: #ffea00;
	color: white;
}

.light div a:nth-child(1) {
	background-color: white;
	color: #363534;
}

/*Menu*/
nav {
	background-color: white;
	width: 100vw;
	height: 37rem;
	position: fixed;
	top: 0;
	right: 0;
	padding: 5rem;
	border-style: dashed;
	border-color: black;
	border-width: medium;
}

nav.onzichtbaar {
	display: none;
}

nav a{
	display: block;
	text-decoration: none;
	color: black;
	font-size: 3rem;
	text-align: center;
	margin-bottom: 3rem;
	font-weight: 600;
}

.light nav {
	background-color: black;
	border-color: white;
}

.light nav a {
	color: white;
}

main {
	column-count: 1; /* multi-column layout! */
	/* https://www.smashingmagazine.com/2019/01/css-multiple-column-layout-multicol/ */
}

body {
	padding: 5rem;
	font-family: helvetica;
	font-size: 1.65rem;
	width: 90vw;
	height: 100%;
	background-color: black;
}

a {
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
}

img {
	width: 40vh;
	margin: 5rem 1rem 0rem auto;
	background-color: #ffea00;
	padding: 1rem;
}


.tien {
	transform: rotate(90deg);
	position: sticky;
	top: 150rem;
}


/*ABOUT ME*/
.aboutme{
	padding: 5rem;
}

.me{
	color: yellow;
	font-variant: normal;
	position: absolute;
	top: 10vh;
}

.ik {
	font-size: 2.5rem;
	position: absolute;
	top: 60rem;
	left: 7vw;
	width: 40rem;
}

.fotoik {
	transform: rotate(90deg);
	position: absolute;
	top: 20vh;
	left: 14vw;
}

p {
	color: white;
	position: relative;
	top: 3rem;
	left: 14rem;
	font-size: 5rem;
	font-variant: small-caps;
	padding-left: 2rem;
}

.light p {
	color: black;
}

ul {
	position: absolute;
	top: 95rem;
	color: white;
	left: 5rem;
	padding-bottom: 10rem;
}

.light ul {
	color: black;
}

/*CONTACT*/
.contact {
	max-height: 900px;
	overflow: hidden;
}
label.tm {
	position: absolute;
	top: -5rem;
}

label.ber {
	position: absolute;
	top: -5rem;
}

.form {
	margin: 3rem auto 0rem auto;
	color: yellow;
	position: fixed;
	top: 40rem;
}

.mail {
	margin-top: 0rem;
	margin-left: -8rem;
}

.bericht {
	margin-top: 5rem;
	margin-left: -8rem;
}

.send {
	margin-top: 4rem;
	margin-left: 35rem;
	background-color: yellow;
	font-size: 1.5rem;
}

@supports (grid-area: auto) {
	body {
		max-width: none;
	}

	@media (min-width: 800px) {
		.menu {
			position: fixed;
			top: -2rem;
			right: 3rem;
		}

		nav {
			width: 30rem;
			height: 45rem;
		}

		h1 {
			font-size: 4rem;
			text-align: left;
		}

		main {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			grid-gap: 1rem;
			width: 800px;
			margin-left: auto;
			margin-right: auto;
		}

		a {
			margin: auto;
		}

		img {
			width: 30vh;
		}

		img:nth-child(10){
			width: 100%;
		}

		a.logo img{
			width: 70vw;
		}

		.logo {
			grid-column: 1/4;
		}

		/*contact*/
		.mail {
			top: 0rem;
			left: 30rem
		}

		.bericht {
			top: 0rem;
			left: 30rem;
		}

		.send {
			position: absolute;
			top: 20rem;
			left: 16rem;
		}



	}

	@media (min-width: 1000px) {
		img {
			background-color: white;
		}

		.light img {
			background-color: darkgrey;
		}

		main {
			width: 1500px;
		}

		body {
			background-color: black;
			padding-bottom: 5rem;
		}

		nav {
			height: 45rem;
		}

		.me{
			margin-left: 20rem;
			margin-right: 20rem;
			position: absolute;
			top: 5rem;
			left: 30vw;
		}

		.ik {
			position: absolute;
			left: 65rem;
			top: 16rem;
		}

		.fotoik {
			width: 40rem;
		}

		ul {
			position: absolute;
			left: 64rem;
			top: 50rem;
			padding: 3rem;

		}

		.draaiknop {
			animation-name: draaiing;
			animation-duration: 5s;
			animation-fill-mode: forwards;
		}

		@keyframes draaiing {
			O% {
				transform: translate(0rem);
			}
			100% {
			transform: translate(-16vw);
			}
		}

		.mail {
			top: -10rem;
			left: 30rem
		}

		.bericht {
			top: -5rem;
			left: 30rem;
		}

		.send {
			position: absolute;
			top: 12rem;
			left: 16rem;
		}

		body.contact {
			background: linear-gradient(to bottom, #8e2de2, #4a00e0);
			height: 900px;
		}

		body.contact.light  {
			background: white;
		}

		a.logo img{
			width: 50vw;
		}

		.logo {
			grid-column: 1/4;
		}

	}
}
